.top-bar-widget-container {
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #585858;
}

.top-bar-widget-container.workspaces {
  padding: 0;
}
.workspace-entry-wrapper {
  border-radius: inherit;
  padding: 0 10px;
}
.workspace-entry-wrapper.current {
  background-color: rgb(46, 136, 131);
}

.img {
  margin-right: 10px;
}

.power-buttons {
  transition: all 0.5s ease-in-out;
  padding: 5 4px;
}

.power-buttons__hidden-container > * {
  margin-top: 15px;
}
