.top-bar-widget-container {
  padding: 5px 20px;
  border-radius: 200px;
  background-color: #3d3d3d;
}

.top-bar-widget-container.workspaces {
  padding: 10px;
  padding-right: 20px;
}

.workspace-entry-wrapper {
  margin-left: 10px;
}

.workspace-entry {
  border-radius: 50%;
  border: 1px solid rgb(110, 110, 110);
}

.workspace-entry.occupied {
  border-color: rgb(255, 115, 0);
}

.workspace-entry.current {
  background-color: rgb(0, 255, 0);
}

.img {
  margin-right: 10px;
}

.power-buttons.active {
  border-radius: 8px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.power-buttons__hidden-container > * {
  margin-top: 20px;
}
